rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Media assets / images - publicly readable and writeable
    match /media_assets/{assetId} {
      allow read, write: if true;
    }
    
    // Blog posts
    match /posts/{postId} {
      allow read, write: if true;
    }

    // Newsletter Subscribers
    match /subscribers/{subscriberId} {
      allow read, create, update, delete: if true;
    }

    // Article Comments
    match /comments/{commentId} {
      allow read, create, update, delete: if true;
    }

    // Registered Users
    match /users/{userId} {
      allow read, write: if true;
    }
  }
}
